<div class="jumbotron" style="overflow:auto;">
  <h1 class="display-4">Confirmation</h1>
  <p class="lead">Your reservation has been confirmed. We hope you enjoy the
    movie.</p>
  <hr class="my-4" />
  {{!-- <img src="/images/{{filename}}" alt="{{filename}}" />
  <h4 class="leftAlign">{{movie_id}}</h4>
  <h5 class="leftAlign">{{show_time}}</h5>
  <h5 class="leftAlign">7:00 PM</h5>
  <h5 class="leftAlign">{{selected_seats}}</h5> --}}
</div>